*.pyc
*.h5
.vscode/
*__pycache__/
*.pytest_cache
*.egg*
.*.swp
*.ipynb_checkpoints/
*.mypy_cache
dataset
*.log
dist/
# lock files ignored until tensorflow issue gets resolved
*.lock
*.pytype
*.nox
# ignore the built documentation
docs/build/
# also the building process
Makefile
make.bat