absl-py
appdirs
astor
astroid
atomicwrites
attrs
black
click
cycler
decorator
gast
google-pasta
grpcio
h5py
imageio
importlib-metadata
isort
joblib
keras
keras-applications
keras-preprocessing
kiwisolver
lazy-object-proxy
markdown
matplotlib
mccabe
more-itertools
networkx
numpy
opt-einsum
packaging
pandas
pillow
pluggy
protobuf
py
pylint
pyparsing
pytest
python-dateutil
pytz
pywavelets
pyyaml
scikit-image
scikit-learn
scipy
seaborn
segnet
six
tensorflow==2.0.0-rc1
termcolor
toml
typed-ast
wcwidth
werkzeug
wrapt
zipp